@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.menuItem {
  padding: 0.5rem 0;
}

.menuItemTitle {
  font-weight: bold;
  padding: 0.5rem 0;
}

.toast-custom-class {
  z-index: 9999;
}

.avatar_small_global {
  @apply w-9 md:w-14 h-9 md:h-14 bg-white rounded-full float-left bg-cover bg-no-repeat;
}

.avatar_x_small_global {
  border-radius: 1.25rem;
  float: left;
  height: 2.5rem;
  width: 2.5rem;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 3px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: transparent;
  }
}