@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  //padding: 0 1rem 1rem 1rem;
  //max-width: 680px;
  margin: 0 auto;
  background: #fff;
  color: #333;
}

li,
p {
  line-height: 1.5rem;
}

a {
  font-weight: 500;
}

hr {
  border: 1px solid #ddd;
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  filter: invert(1);
}

.menuItem {
  padding: 0.5rem 0;
}

.menuItemTitle {
  font-weight: bold;
  padding: 0.5rem 0;
}

.toast-custom-class {
  z-index: 9999;
}

.avatar_small_global {
  @apply w-9 md:w-14 h-9 md:h-14 bg-white rounded-full float-left bg-cover bg-no-repeat;
}

.avatar_x_small_global {
  border-radius: 1.25rem;
  float: left;
  height: 2.5rem;
  width: 2.5rem;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}